.badge {
  @include badge-basic;
  & > i.op, & > .op, & > [class^='op-icon-'] {
    vertical-align: top;
    margin: -4px 4px 0 4px;
  }

  &.badge-plain {
    color: $c-black;
    background-color: $c-cool-gray-3;
  }

  &.badge-success {
    color: $c-white;
    background-color: $c-positive;
  }

  &.badge-danger {
    color: $c-white;
    background-color: $c-warn-small;
  }
}

