.jumplink {
  box-sizing: border-box;
  width: 172px;
  height: 128px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: $c-white;
  padding: 24px;
  margin: 0 16px 16px 0;
  cursor: pointer;

  //&.active {
  &:hover {
    background-color: $c-primary-blue;
    color: $c-white;
  }

  & > .title {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: $font-weight-bold;
    @include t-display;

    & > .op, & > i.op {
      font-size: 32px;
      margin-right: 16px;
    }
  }
  & > .label {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include t-subheader;
  }
}