// colors
$c-primary-blue: rgb(33, 153, 244); //#2199f4;
$c-black: rgb(32, 32, 34); //#202022;
$c-white: rgb(255, 255, 255); //#ffffff;

$c-modal: rgba(32, 32, 34, .9);
$c-cool-gray-0: rgb(76, 78, 81);
$c-cool-gray-1: rgb(95, 101, 108); //#5F656c;
$c-cool-gray-2: rgb(172, 181, 190);
$c-cool-gray-3: rgb(234, 235, 237);
$c-cool-gray-4: rgb(246, 245, 245);

$c-warn-small: rgb(188, 54, 43);
$c-warn-large: rgb(240, 64, 50);
$c-pending: rgb(234, 220, 71);
$c-positive: rgb(4, 176, 124);

$c-primary-blue-1: rgb(0, 88, 173);
$c-primary-blue-2: rgb(33, 153, 244);
$c-primary-blue-3: rgb(121, 193, 253);
$c-primary-blue-4: rgb(204, 232, 254);
$c-primary-blue-5: rgb(230, 244, 255);

$c-purple-1: rgb(50, 51, 128);
$c-purple-2: rgb(81, 84, 209);
$c-purple-3: rgb(117, 119, 232);
$c-purple-4: rgb(176, 176, 255);
$c-purple-5: rgb(216, 216, 240);

$c-beetroot-1: rgb(181, 30, 109);
$c-beetroot-2: rgb(216, 97, 164);
$c-beetroot-3: rgb(246, 153, 194);
$c-beetroot-4: rgb(244, 204, 224);
$c-beetroot-5: rgb(245, 230, 237);

$c-orange-1: rgb(214, 94, 15);
$c-orange-2: rgb(242, 132, 58);
$c-orange-3: rgb(250, 175, 125);
$c-orange-4: rgb(250, 212, 187);
$c-orange-5: rgb(250, 235, 225);

$c-yellow-1: rgb(248, 212, 38);
$c-yellow-2: rgb(250, 227, 112);
$c-yellow-3: rgb(247, 255, 128);
$c-yellow-4: rgb(248, 252, 189);
$c-yellow-5: rgb(251, 252, 227);

$c-green-1: rgb(10, 104, 48);
$c-green-2: rgb(73, 171, 68);
$c-green-3: rgb(157, 224, 191);
$c-green-4: rgb(198, 247, 223);
$c-green-5: rgb(227, 252, 240);

// Font
$default-font: Soleil, 'Source Sans Pro', sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;

$text-display-size: 42px;
$text-display-line-height: 54px;

$text-headline-size: 28px;
$text-headline-line-height: 36px;

$text-title-size: 20px;
$text-title-line-height: 32px;

$text-subheader-size: 16px;
$text-subheader-line-height: 24px;

$text-body-size: 14px;
$text-body-line-height: 18px;

$text-caption-size: 12px;
$text-caption-line-height: 16px;
$text-caption-letter-spacing: 0.86px;

$text-small-size: 10px;
$text-small-line-height: 16px;

// banner
$banner-border-radius: 4px;
$banner-margin-bottom: 16px;